body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0px; 
}

h1 {
  font-size: 40px;
  padding: 5px;
  margin: 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
}

.search-input {
  width: 450px;
  height: 35px;
  border: 1.5px solid black;
  border-radius: 8px;
}

#search-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  border: 1.5px solid black;
}

#search-button:hover {
  background-color: rgb(197, 195, 195);
  transform: scale(1.15);
  cursor: pointer;
}

/* NAVIGATION BAR */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-bar-button {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
  box-shadow: 4px 4px 0 2px;
  border: 2px solid #000;
  border-radius: .7rem;
  background-color: grey;
}

.nav-bar-button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#all-recipes-button {
  background-color: grey;
}

#favorite-recipes-button {
  background-color: white;
}

/* FILTER BY DROPDOWN */

.drop-down-menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.drop-down-menu-container {
  display: flex;
  justify-content: flex-end;

}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
}

#tag-selector {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  box-shadow: 4px 4px 0 2px;
  border: 2px solid #000;
  border-radius: .7rem;
}

#tag-selector-button {
  margin: 10px;
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  box-shadow: 4px 4px 0 2px;
  border: 2px solid #000;
  border-radius: .7rem;
}

/* RECIPE CONTAINER */

.main-page {
  display: flex;
}

.recipe-card-section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.recipe-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  box-shadow: 4px 4px 0 2px;
  border: 2px solid #000;
  border-radius: 1rem;
}

.recipe-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

h2 {
  font-size:1.2em;
  font-weight: 800;
  margin: 10px;
  text-align: center;
}

.recipe-image {
  width: 75%;
  border: 2px solid #000;
  border-radius: 1rem;
}

.recipe-content {
  font-size: 1em;
}

/* MODAL */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 4px 4px 0 2px;
  border: 2px solid #000;
  border-radius: 1rem;
  max-height: 75vh;
  overflow-y: auto;
  z-index: 1000;
}


.fav-close {
  display: flex;
  align-items: flex-start;
  border: 2px;
}

.heart-button {
  color: black;
}

.heart-button.favorited {
  color: red;
}


/* MISC STYLES */
.hidden {
  display: none
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 999;
}